<md-dialog aria-label="{{dialog.title}}">
  <form name="dialogForm">
    <md-dialog-content>
      <h2>{{dialog.title}}</h2>
      <md-input-container ng-if="dialog.requireCurrentPassword">
        <label>Current Password</label>
        <input name="currentPassword" type="password" ng-model="$parent.form.currentPassword" size="48" required autofocus
               aria-label="current password">
        <div ng-messages="dialogForm.currentPassword.$error" ng-show="dialogForm.currentPassword.$touched">
          <div ng-message="required">You must provide your current password.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>New Password</label>
        <input name="newPassword" type="password" ng-model="form.newPassword" size="48" required minlength="6"
               ng-attr-autofocus="{{!dialog.requireCurrentPassword}}" aria-label="new password">
        <div ng-messages="dialogForm.newPassword.$error" ng-show="dialogForm.newPassword.$touched">
          <div ng-message="required">You must select a new password.</div>
          <div ng-message="minlength">At least 6 characters required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Confirm</label>
        <input name="confirmPassword" type="password" ng-model="form.confirmPassword" size="48" required matches="form.newPassword"
               aria-label="{{dialog.label || dialog.title}}">
        <div ng-messages="dialogForm.confirmPassword.$error" ng-show="dialogForm.confirmPassword.$touched">
          <div ng-message="required">Confirm your password.</div>
          <div ng-message="matches">The passwords do not match.</div>
        </div>
      </md-input-container>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
      <md-button type="reset" ng-click="cancel()">
        Cancel
      </md-button>
      <md-button type="submit" ng-click="done(form)" class="md-primary" ng-disabled="dialogForm.$invalid">
        OK
      </md-button>
    </div>
  </form>
</md-dialog>